/* Box sizing */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
.body {
    color: #f9f8f8;
    background-color: #999;
}
h1, h2, h3, h4 {
    color: #373737; 
    }
a {
    color: #ffffff;
}
.header {
    background-color: #373737; 
}
.main {
    background-color: #edecea;
}
.footer {
    background-color: #373737;
}
.footer h4 {
    color: #ffffff;
}
.footer p {
    color: #373737;
}
.footer-bottom {
    background-color: #1e1f1f;
    color: #ffffff;
}
.container {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}
.column {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}
.row {
    overflow: hidden;
}
.one-whole {
    width: 940px;
}
.three-quarters {
    width: 700px;
}
.one-half {
    width: 460px;
}
.two-thirds {
    width: 620px;
}
.one-third {
    width: 300px;
}
.one-sixth {
    width: 140px;
}
.alpha {
    margin-left: 0;
}
.omega {
    margin-right: 0;
}
nav ul li {
    display: inline-block;
}
ul { 
    list-style: none;
    padding: 0;
}
.img-responsive {
    max-width: 100%;
    height: auto;
}
/* Header Elements*/
.brand {
    padding-top: 45px;
    padding-bottom: 45px;
}
.nav {
    padding-top: 60px;
}
.pull-right {
    float: right;
}
/* Footer Class */
.social {
    text-align: center;
}
/* Main Content CSS */
.page-header {
    padding-top: 30px;
    margin-bottom: 50px;
}
.page-header p {
    padding-left: 15px;
    background-color: #5adae2;
    color: #ffffff;
}
/* Home page CSS */
.page-header.home {
    margin-bottom: 0;
}
.message {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color:#4cd2da;   
}
.message h3 {
    color: #ffffff;
}
.contentbox {
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 70px;
}
.contentbox li {
    color: #373737;
}
.contentbox-beige {
    background-color: #f9f8f8;
}
.contentbox-beige>img {
    float: left;
    margin-right: 15px;
}
.tile {
    background-color: #5adae2;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
}
.contentbox-turquoise {
    background-color: #5adae2;
    padding: 10px;
    margin-bottom: 70px;
}
.contentbox>img {
    float: left;
    margin-right: 15px;
}
.main-content-top h1 {
    padding-top: 70px;
    padding-bottom: 70px;
}
.main-content-bottom {
    padding-bottom: 75px;
}
.blog-tease {
    height: 210px;
    color: #ffffff;
}
.blog-tease h2 {
    color: #ffffff;
}
.one-quarter {
    width: 220px;
}
/* About page CSS */
.team h1 {
    margin-bottom: 40px;
}
.team-member {
    margin-bottom: 20px;
}
/* Portfolio page CSS */
.portfolio-item {
    margin-bottom: 10px;
    
}
.portfolio-title {
    display: none; /* hide portfolio image text */
}
/* Blog page CSS */
.info li {
    display: inline-block;
}
.sidebar {
    padding: 10px;
}
.recent-entries img {
    float: left;
    padding-right: 10px;
}
.photos img {
    padding-right: 10px;
    padding-bottom: 10px;
}
/* Contact page CSS */
.table,
.form p,
.map h2 {
    margin-left: 15px;
}
