@import url(grid.css);
@charset "UTF-8";

/* box sizing */

html {
    box-sizing: border-box;
}

*,
*: before,
*: after {
    box-sizing: inherit;
}


/* images */

.center-column {
    margin: 40px;
    position: center;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.photos img {
    padding-right: 10px;
    padding-bottom: 10px;
}

.heading {
    text-transform: uppercase;
    padding: inherit;
    line-height: 10px;
    text-align: left;
    font-weight: 800;
    font-size: 11px;
}

.heading p {
    text-align: left;
    font-size: 10px;
}


/* header */

.header {
    background-color: black;
    text-align: center;
    font-family: 'Swanky and Moo Moo', cursive;
}

.nav {
    padding-top: 60px;
}

.nav a {
    display: inline-block;
    padding: 0px 30px;
    -webkit-transition: color 0.3s ease 0s;
    -moz-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-in-out;
}

.nav a:hover {
    color: #B45737;
    /* burnt orange */
}

nav ul li {
    display: inline-block;
}

.nav li {
    font-size: 14px;
}

.link:hover {
    color: #B45737;
    font-weight: bolder;
}

ul li {
    display: inline;
}

.pull-right {
    float: right;
}


/* body */

.container {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}

.column {
    float: left;
}

.row {
    overflow: inherit;
}

.one-whole {
    position: center;
    width: 960px;
}

.one-half {
    width: 460px;
    padding-left: 1px;
}

.three-quarters {
    width: 720px;
}

.two-thirds {
    width: 620px;
    margin: 30px;
    margin-bottom: auto;
}

.one-quarter {
    width: 220px;
    font-size: 10px;
    margin: 0;
    padding-left: 20px;
    margin-bottom: 20px;
}

.one-third {
    width: 270px;
    padding: 10px;
    padding-top: 20px;
}


/* global */

body {
    font-family: 'Arial', sans-serif;
    font-size: 11px;
    line-height: 1.5;
    color: black;
}

h1 {
    color: lightgray;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Swanky and Moo Moo', cursive;
}

h2 {
    font-size: 18px;
    padding: 5px 10px 10px 5px;
}

h3 {
    font-size: 16px;
}

p {
    font-size: 11px;
    line-height: 2;
}

a {
    color: darkgray;
    text-decoration: none;
}

a:hover {
    color: #B45737;
    font-weight: bold;
}

ul {
    font-family: Arial, sans-serif;
    font-size: 12px;
    padding: 0;
    list-style: 0;
    margin: 0;
}

span {
    position: absolute;
    font-family: 'Swanky and Moo Moo', cursive;
    font-size: 50px;
    top: 485px;
    padding-left: 100px;
    z-index: 10;
    color: #b45737;
    float: right;
}

.caption {
    position: absolute;
    color: lightgray;
    top: 335px;
    z-index: 10;
    font-family: arial, sans-serif;
    font-size: 35px;
}

.menu {
    float: right;
    margin-top: 50px;
}

.block {
    max-height: 300px;
    min-width: 300px;
}


/* home page */

.boxed {
    width: 75px;
    font-style: italic;
    background-color: black;
    color: white;
    text-align: center;
    padding: 2px;
}

.btn {
    display: block;
    height: 100px;
    width: 300px;
    font-size: 11px;
    border-radius: corners;
    background-color: lightblue;
    border: none;
    text-align: center;
}

a.btn {
    background-color: dimgray;
    border: none;
    text-align: center;
    display: block;
    height: 20px;
    width: 75px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.btn:hover {
    background-color: lightgray;
}

.active a {
    color: lightgray;
}

.page-header {
    color: white;
    padding-top: 10px;
}

.page-header h1 {
    font-weight: bold;
}

.home h1 {
    color: #fff;
}

.page-header h1 {
    padding-left: 15px;
    font-weight: bold;
}

.page-header.home h1 {
    font-weight: normal;
    text-align: center;
}

.page-header.home p {
    font-size: 18px;
    font-weight: 200;
}

.page-header .home a {
    padding-left: 35px;
}

.message {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #4cd2da;
}

.message .btn {
    margin-left: 20px;
}

.message h3 {
    color: #ffffff;
}

.brand {
    font-size: 22px;
    padding-top: 45px;
    padding-bottom: 45px;
}


/* sidebar */

.subtitle {
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.5px;
    text-align: left;
    padding: 30px 5px 5px 35px;
    margin-right: 10px;
}

.services {
    width: 265px;
    border: .5px dotted gray;
    border-spacing: 5px 5px;
    margin: 10px 0px 5px 5px;
}

.services p {
    font-size: 9px;
    margin-left: 14px;
    text-align: left;
    padding: 0px 0px 0px 22px;
}

.services img {
    position: absolute;
    padding: 19px 15px 15px 11px;
    bottom: 10;
}


/* about page */

.about-page {
    text-align: center;
}

.private-policy i:hover {
    color: lightgrey;
}

.areas {
    text-transform: uppercase;
    font-size: 11px;
}

.at-glance {
    line-height:
}

.popular-services {
    padding: 10px 10px 10px 0px;
    font-weight: bolder;
    line-height: 10px;
    text-align: left;
}


/* footer */

.footer {
    background-color: black;
}

.alice-smith {
    padding-left: 40;
}

.footer p {
    color: white;
    font-family: Arial, sans-serif;
    font-style: italic;
    font-size: 10px;
    padding-left: 30px;
}

.footer a:hover {
    text-decoration: underline;
}
/* Smartphone landscape */
                                                                                                        
                                                                                                        @media (min-width: 480px) {}
                                                                                                        /* Small devices (tablets, 768px and up) */
                                                                                                        
                                                                                                        