@charset "UTF-8";

/* box sizing */

html {
    box-sizing: border-box;
}

*,
*: before,
*: after {
    box-sizing: inherit;
}


/* images */

.center-column {
    margin: 40px;
    position: center;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.img-responsive services {
    margin: 20px 20px;
}

.photos img {
    padding-right: 10px;
    padding-bottom: 10px;
}

.heading {
    text-transform: uppercase;
    padding: inherit;
    line-height: 2px;
    text-align: left;
}

.boxed {
    box-sizing: border-box;
    text-align: left;
    width: inherit;
    height: 20px;
    width: 75px;
    padding-left: 5px;
    font-style: italic;
    background-color: black;
    color: white;
}


/* header */

.header {
    background-color: black;
    text-align: center;
    font-family: 'Swanky and Moo Moo', cursive;
}

.nav {
    padding-top: 60px;
}

.nav a {
    display: inline-block;
    padding: 0px 30px;
    -webkit-transition: color 0.3s ease 0s;
    -moz-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-in-out;
}

.nav a:hover {
    color: #B45737;
    /* burnt orange */
}

nav ul li {
    display: inline-block;
}

.nav li {
    font-size: 12px;
}

.nav li:last-child {
    border-right: 0 auto;
}

.link:hover {
    color: #B45737;
    font-weight: bolder;
}

ul li {
    display: inline;
}

.pull-right {
    float: right;
}


/* body */

.container {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}

.column {
    float: left;
}

.box {
    background-color: lightgray;
    width: 960
}

.row {
    overflow: inherit;
}

.one-whole {
    position: center;
    width: 960px;
}

.one-half {
    width: 460px;
    padding-left: 1px;
}

.three-quarters {
    width: 720px;
}

.two-thirds {
    width: 620px;
    margin: 30px;
    margin-bottom: auto;
}

.one-quarter {
    width: 220px;
    font-size: 10px;
    margin: 0;
    padding-left: 20px;
    margin-bottom: 20px;
}

.one-third {
    width: 270px;
    padding: 10px;
    padding-top: 20px;
}

.alpha {
    margin: 0;
}

.omega {
    margin-right: 0;
}


/* global */

body {
    font-family: 'Arial', sans-serif;
    font-size: 11px;
    line-height: 1.5;
    color: black;
}

h1 {
    color: lightgray;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Swanky and Moo Moo', cursive;
}

h2 {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

h3 {
    font-size: 16px;
}

.caption {
    position: absolute;
    color: lightgray;
    top: 335px;
    left: 30px;
    z-index: 10;
    font-family: arial, sans-serif;
    font-size: 38px;
}

em {
    font-family: 'Swanky and Moo Moo', cursive;
    font-size: 50px;
}

span {
    font-family: 'Swanky and Moo Moo', cursive;
    font-size: 36px;
    position: absolute;
    top: 500px;
    left: 125px;
    color: #b45737;
}

p {
    font-size: 11px;
    line-height: 2;
}

a {
    color: darkgray;
    text-decoration: none;
}

a:hover {
    color: #B45737;
    font-weight: bold;
}

ul {
    font-family: Arial, sans-serif;
    font-size: 12px;
    padding: 0;
    list-style: 0;
    margin: 0;
}

.menu {
    float: right;
    margin-top: 50px;
}

.block {
    max-height: 300px;
    min-width: 300px;
}


}
.btn {
    display: block;
    height: 100px;
    width: 300px;
    font-size: 15px;
    border-radius: corners;
    background-color: lightblue;
    border: none;
    text-align: center;
}
a.btn {
    background-color: dimgray;
    border: none;
    text-align: center;
    display: block;
    height: 20px;
    width: 75px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.btn:hover {
    background-color: lightgray;
}
.popular-services {
    margin-bottom: 5px;
    line-height: 30px;
    text-align: left;
}
.page-header {
    color: white;
    padding-top: 10px;
}
.page-header h1 {
    font-weight: bold;
}
.home h1 {
    color: #fff;
}
.page-header h1 {
    padding-left: 15px;
    font-weight: bold;
}
.page-header.home h1 {
    font-weight: normal;
    text-align: center;
}
.page-header.home p {
    font-size: 18px;
    font-weight: 200;
}
.page-header .home a {
    padding-left: 35px;
}
.message {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #4cd2da;
}
.message .btn {
    margin-left: 20px;
}
.message h3 {
    color: #ffffff;
}
.brand {
    font-size: 22px;
    padding-top: 45px;
    padding-bottom: 45px;
}

/* sidebar */
.aside {
    box-sizing: border-box;
}
.aside p {
    font-size: 10px;
    margin: auto;
}
.aside caption {
    color: #373737;
    font-size: 12px;
    text-align: left;
}
.active a {
    color: lightgray;
}
table {}

/* Contentbox */
.contentbox {
    box-sizing: border-box;
    padding: 0px 0px 5px 20px;
    text-align: left;
    background-image: image();
    width: 270px;
    border: .5px dotted black;
}

/* about page */
.about-page {
    text-align: center;
    position: center;
}
.private-policy i:hover {
    color: lightgrey;
}

/* footer */
.footer {
    background-color: black;
}
.alice-smith {
    padding-left: 40;
}
.footer p {
    color: white;
    font-family: Arial, sans-serif;
    font-style: italic;
    font-size: 12px;
    padding-left: 10px;
}
.footer a:hover {
    text-decoration: underline;
}